# Android
android-app/.gradle/
android-app/.idea/
android-app/build/
android-app/local.properties
android-app/app/build/
android-app/captures/
android-app/.DS_Store

# Node
server/node_modules/
server/.env

# OS
.DS_Store
